<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd 
	 http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<http pattern="/" security="none" />
	<http pattern="/register*" security="none" />

	<http auto-config="true">
		<intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" />
		<form-login login-page="/" authentication-failure-url="/login-error"
			default-target-url="/test" />
		<logout logout-success-url="/" />
		<remember-me />
	</http>


	<authentication-manager>

		<authentication-provider>
			<jdbc-user-service data-source-ref="localhostMysql"
				users-by-username-query="select idemployee, password, 'true' as enabled from employee where idemployee=?"
				authorities-by-username-query="select employee.idemployee, employee_role.name as authorities from employee,employee_role where employee.idemployee=? and employee.role_id=employee_role.id" />

			<!-- <user-service> <user name="admin" password="secret" authorities="ROLE_ADMIN" 
				/> <user name="user1" password="1111" authorities="ROLE_USER" /> <user name="1" 
				password="1" authorities="ROLE_USER" /> </user-service> -->
		</authentication-provider>
	</authentication-manager>

</beans:beans>