/* czcionka globalna */
html * {
	font-family: Arial !important;
}

/* header */
div#header {
	font-weight: bold;
	text-align: center;
}

div#table_header{
	font-weight: bold;
}

table, tr, td {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
	min-width: 100px;
}

/* menu */
.offscreen {
	position: absolute;
	top: -30em;
	left: -300em;
	font-size: 700%;
}

div#hmenu {
	margin: 0;
	padding: .3em 0 .3em 0;
	background: #ddeebb;
	width: 100%;
	text-align: center;
}

div#hmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#hmenu ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

div#hmenu ul a:link {
	margin: 0;
	padding: .3em .4em .3em .4em;
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	color: #004415;
}

div#hmenu ul a:visited {
	margin: 0;
	padding: .3em .4em .3em .4em;
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	color: #227755;
}

div#hmenu ul a:active {
	margin: 0;
	padding: .3em .4em .3em .4em;
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	color: #227755;
}

div#hmenu ul a:hover {
	margin: 0;
	padding: .3em .4em .3em .4em;
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	color: #f6f0cc;
	background-color: #227755;
}